:root{
    --color-primary: rgb(32, 144, 231);
    --color-secondary: rgb(185, 181, 181);
    --color-secondary-light: rgb(223, 219, 219);
    --color-secondary-dark: rgb(170, 167, 167);
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    width: 100%;
}

@media (max-width: 480px) {

  html {
    font-size: 56.25%; // 1rem ≈ 9px (melhor leitura em ecrãs pequenos)
  }

  body {
    line-height: 1.5;
  }

}
